# Скопируйте этот файл в .env и заполните своими значениями

# Client ID из Google Cloud Console → OAuth 2.0 Client IDs (тип "Web application")
GOOGLE_CLIENT_ID=69947360705-s1p9aceacofap57ejkg1ftus52u2r4hs.apps.googleusercontent.com

# Любая длинная случайная строка — используется для подписи сессионных JWT-токенов
JWT_SECRET=67DHASDASD2EY1982UDHSADH192YDHQWSJDASDI09ASDUAW9DIKFKDMDASDAD2131DSA

# Порт, на котором будет работать сервер
PORT=3000
